<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script src="handlebars/dist/handlebars.min.js"></script>
        <script src="handlebars-intl/dist/handlebars-intl.min.js"></script>
    </head>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/building">Buildings<span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="/employee">Employees</a></li>
                        <li><a href="/title">Titles</a></li>
                        <li><a href="/workson">Team/Employee</a></li>
                    </ul>
                </nav>
            </div>
            <br/>
            
            <!-- Put contents here -->
    

    
    
    <form class="form-horizontal", id="addEmployee" action="/employee" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Add New Employee</legend>
    <p>To enter new employee, fill out information below and hit submit</p>

    <!-- Title f_name Input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="f_name">First Name</label>  
      <div class="col-md-4">
      <input id="f_name" name="f_name" type="text" placeholder="Enter First Name here" class="form-control input-md" required="">
        
      </div>
    </div>

    <!-- Last Name input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="l_name">Last Name</label>  
      <div class="col-md-4">
      <input id="l_name" name="l_name" type="text" placeholder="Enter Last Name here" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- SSN-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="ssn">SSN</label>  
      <div class="col-md-4">
      <input id="ssn" name="ssn" type="text" placeholder="SSN" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Phone Number -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="phone">Phone Number</label>  
      <div class="col-md-4">
      <input id="phone" name="phone" type="text" placeholder="Phone Number" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Building Select-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="building">Select Building</label>
      <div class="col-md-4">
        <select id="building" name="building" class="form-control">
                {{#each buildings}}
        <option value="{{id}}">{{allBuildName}}</option>
        {{/each}}
        </select>
      </div>
    </div>
        
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>

    
    <!--Filter text -->
    <form class="form-horizontal",id="filterEmployee" action="/employee/filter" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Filter Employees by Building</legend>

    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="building">Select Building</label>
      <div class="col-md-4">
        <select id="building" name="equalTo" class="form-control">
                {{#each buildings}}
        <option value="{{id}}">{{allBuildName}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>

    
    
    
    <h1>{{startSource}} Employees:</h1>
    <table class="table"> 
        <thead> 
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>SSN</th>
            <th>Phone></th>
            <th>Building</th>
        </thead> 
        <tbody> 
            {{#each people}} 
            <tr> 
                <td>{{f_name}}</td> 
                <td>{{l_name}}</td> 
                <td>{{ssn}}</td>
                <td>{{phone}}</td>
                <td>{{buildName}}</td>
            </tr> 
            {{/each}} 
        </tbody> 

    </table> 
    </body>
</html>
