<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script src="handlebars/dist/handlebars.min.js"></script>
        <script src="handlebars-intl/dist/handlebars-intl.min.js"></script>
    </head>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/building">Buildings</a></li>
                        <li><a href="/employee">Employees</a></li>
                        <li><a href="/title">Titles</a></li>
                        <li class="active"><a href="/workson">Team/Employee<span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
            <br/>
            
            <!-- Put contents here -->
    

    
    
    <form class="form-horizontal", id="addWorksOn" action="/workson" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Add New Team/Employee Relationship</legend>
    <p>To to enter new relationship, fill out information below and hit submit</p>

    <!-- Person Select-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="first_name">Select Employee</label>
      <div class="col-md-4">
        <select id="building" name="building" class="form-control">
        {{#each employees}}
        <option value="{{id}}">{{employeeName}}</option>
        {{/each}}
        </select>
      </div>
    </div>

    <!-- Team Select-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="l_name">Last Name</label>  
      <div class="col-md-4">
      <input id="l_name" name="l_name" type="text" placeholder="Enter Last Name here" class="form-control input-md">
        
      </div>
    </div>


    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>

    
    <!--Filter text -->
    <form class="form-horizontal",id="filterEmployee" action="/employee/filter" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Filter Employees by Building</legend>

    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="building">Select Building</label>
      <div class="col-md-4">
        <select id="building" name="equalTo" class="form-control">
                {{#each buildings}}
        <option value="{{id}}">{{allBuildName}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>

    
    
    
    <h1>{{startSource}} Employees:</h1>
    <table class="table"> 
        <thead> 
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>Team</th>
            <th>Join Date</th>
        </thead> 
        <tbody> 
            {{#each people}} 
            <tr> 
                <td>{{f_name}}</td> 
                <td>{{l_name}}</td> 
                <td>{{name}}</td>
                <td>{{join_date}}</td>
            </tr> 
            {{/each}} 
        </tbody> 

    </table> 
    </body>
</html>
