<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script src="handlebars/dist/handlebars.min.js"></script>
        <script src="handlebars-intl/dist/handlebars-intl.min.js"></script>
    </head>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/building">Buildings</a></li>
                        <li><a href="/employee">Employees</a></li>
                        <li class="active"><a href="/workson">Team/Employee<span class="sr-only">(current)</span></a></li>
                        <li><a href="/computer">Computers</a></li>
                    </ul>
                </nav>
            </div>
            <br/>
            
            <!-- Put contents here -->
    

    
    
    <form class="form-horizontal", id="addWorksOn" action="/workson" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Add New Team/Employee Relationship</legend>
    <p>To to enter new relationship, fill out information below and hit submit</p>

    <!-- Person Select-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="first_name">Select Employee</label>
      <div class="col-md-4">
        <select id="employeeNew" name="employeeNew" class="form-control">
        {{#each employees}}
        <option value="{{id}}">{{employeeNames}}</option>
        {{/each}}
        </select>
      </div>
    </div>

    <!-- Team Select-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="team">Select Team</label>
      <div class="col-md-4">
        <select id="team" name="team" class="form-control">
        {{#each teams}}
        <option value="{{id}}">{{teamName}}</option>
        {{/each}}
        </select>
      </div>
    </div>


    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>

    
    <!--Filter text -->
    <form class="form-horizontal",id="filterWorkson" action="/workson/filter" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Filter by Team Name</legend>

    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="">Select Team Name</label>
      <div class="col-md-4">
        <select id="filterTeam" name="filterTeam" class="form-control">
        {{#each teams}}
        <option value="{{id}}">{{teamName}}</option>
        {{/each}}
        </select>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>

    
    
    
    <h1>{{startSource}} Team/Employees:</h1>
    <table class="table"> 
        <thead> 
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>Team</th>
            <th>Join Date</th>
            <th>Delete Entry</th>
        </thead> 
        <tbody> 
            {{#each people}} 
            <tr> 
                <td>{{f_name}}</td> 
                <td>{{l_name}}</td> 
                <td>{{name}}</td>
                <td>{{join_date}}</td>
                <td><button onclick="deleteWorkson({{id}})">Delete</button></td>
            </tr> 
            {{/each}} 
        </tbody> 

    </table> 
    </body>
</html>
